header {
	position: relative;
	width: 100%;
	height: 500px;
	background-position-x: left !important;
	background-position-y: top !important;
	background-size: cover !important;
	display: block !important;
	background-size: cover !important;
	background-blend-mode: multiply !important;
	padding: 30px 100px;
	display: flex !important;
	flex-direction: column;
	justify-content: center;
	color: #fff !important;
	margin-bottom: 60px !important;
	background-attachment: fixed;
	mix-blend-mode: screen;
}
header .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, transparent, #000);
	z-index: -1;
}

header p {
	width: 80%;
	margin-bottom: 15px;
	margin-top: 10px;
}
header div.btn-content a {
	display: inline-block !important;
	margin-right: 15px !important;
	padding: 15px 20px !important;
	background: #0008;
	text-decoration: none;
	color: #fff;
	transition: 0.5s;
	border-radius: 10px;
}
header div.btn-content a:hover {
	background: #fff2;
}
