.mainContainer {
	position: relative;
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
}

.loader {
	position: relative;
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	letter-spacing: 5px;
}
